.root {
    width: 900px;
    margin: 0 auto;
    border: 1px solid black;
}
.root:after {
    content:'';
    display: block;
    clear: both;
}
.child {
    float: left;
    height: 150px;
}

